.des {
  color: #150B2BB3;
  
}

.tittle {
  color: #150B2B;

}

.primary {
  background-color: #0BE58A;
}

.bg-img {
  background-image: url(./img/chef.png);
}

body {
  font-family: "Lexend", sans-serif
}